<%- include('partials/header.ejs') %>

<h1>this is the campgrounds page!!</h1>
<%=  campgrounds %>

<a href="campgrounds/new">Add a new campground again!</a>

<% campgrounds.forEach(function(campground){ %>

    <div>
        <h4><%= campground.name %></h4>
        <img src="<%= campground.img %>">
    </div>

<% }) %>

<%- include('partials/footer.ejs') %>
